@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Mono+One&display=swap');


* {
    margin: 0%;
    padding: 0%;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-image: url(../img/papier.jpg);
    background-repeat:repeat;
    background-size:cover;
}
main {
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(0,0,0,0.11);
}
h1 {
    font-size: 65px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}
div p {
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 50px;
    display: block;
    background-color: transparent;
    }

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    padding-top: 40px;
}
.hover p {
    display: none;
}
.hover:hover p {
    display: block;
    background-image: url(../img/Ripped-paper.png);
    background-size: contain;
}
